@font-face {
	font-family: "筑紫明朝";
	src: url("~/assets/fonts/FOT-TsukuMinPro-L.woff2") format("woff2");
}

@font-face {
	font-family: "思源宋体";
	src: url("~/assets/fonts/NotoSerifCJKsc-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "思源黑体";
	src: url("~/assets/fonts/SourceHanSansSC-Regular.woff2") format("woff2");
}
