@use "variables.scss" as *;

a {
	text-decoration: none;
}

.page__title {
	display: flex;
	align-items: end;
	h2 {
		color: $text_color;
	}
	h5 {
		margin-left: 10px;
		margin-bottom: 2px;
		color: $light_text_color;
	}
}

input {
	border: none;
	&:focus-visible {
		outline: none;
	}
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.empty__data {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
}

.flex__center {
	display: flex;
	align-items: center;
	justify-content: center;
}

svg:focus {
	outline: none;
}
