$light_text_color: #c7c3d1;
$text_color: #514e60;
$bold_text_color: #222;
$primary: #ed448e;
$light_bg_color: #f7f6fb;
$bg_color: #f4f1f8;
$z_music_view: 73;
$z_lyric_view: 72;
$z_left_side: 71;
$z_top_header: 70;
$z_right_side: 69;
$selected_bg_color: linear-gradient(to right, #f7e2f4 0%, #f9f3fa 100%);
