$light_text_color: #c7c3d1;
$text_color: #514e60;
$bold_text_color: #222;
$primary: #ed448e;
$light_bg_color: #f7f6fb;
$bg_color: #f4f1f8;
$z_left_side: 11;
$z_top_header: 10;
$z_right_side: 9;
$selected_bg_color: linear-gradient(to right, #f7e2f4 0%, #f9f3fa 100%);
